/* body > #root > div {
  height: 100vh;
} */

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

text {
  color: white;
}

.app {
  background-color: #272C34;
  height: 100%;
  min-height: 100vh;
}

.App-header {

  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.center{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.joining {
  height: 100%;
  padding: 50px;
}
.roomid {
  color: white;
  font-size: 24px;
  display: block;
}

form.inlineForm {
  display: inline;
}
form.inlineForm input {
  background: none;
  border: none;
  border-bottom: 2px solid #C0C0C0;
  color: white;
  margin-left: .1em;
  outline: none !important;
}
form.inlineForm input:focus {
  border-bottom: 2px solid white;
}
form.inlineForm button {
  border-radius: 30px;
}

h3.teamname {
  font-size: 32px;
  line-height: 40px;
  margin: 0 0 40px 0;
}

.button-padding {
  margin: 3px;
}

.profile-header {
  background-color: #282c34;
  display: block;
  text-align: left;
  padding: 80px;


}
.profile-body {
  background-color: #505050;
  width: 100%;
  padding: 50px;
  height:80%;
}

.signupbutton {
  padding-left: 20px;
}

.usericon {
  border-radius: 25px;
}

.waitingComponent {
  padding-top: 200px;
  text-align: center;
}
.waitingComponent img {
  border-radius: 25px;
  margin: 0 50px;
  border: solid 20px #C0C0C0;
}
.waitingComponent img.ready {
  border-color: #C0F0C0;
}
.waitingComponent p {
  color: white;
  font-size: 16px;
}

h1 { color: white; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; }
h2 {color: white; padding: 20px;}
h3 { color: white;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; }
h4{padding-top: 10px; padding-left: 20px;}
p { color: white;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; }
